:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --black: #111111;
    --fixed-element: #029;
    --variable-element: #333;
    --default-font: "Segoe UI", Arial, sans-serif;
  }

html, body {
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    background: var(--blue);
    padding: 2rem;
}

h4 {
    margin: 0;
    color: var(--white);
    font-size: xx-large;
    font-family: var(--default-font);
}

.examples {
    margin: 2rem 0;
}

.wrap {
    text-align: center;
    font-family: var(--default-font);
    margin-bottom: 2rem;
}

input[type=text] {
    border-radius: 1rem;
    font-size: large;
    padding: .7rem;
    font-family: var(--default-font);
    width: 40%;
    outline: none;
    border: 2px solid var(--black);
}

input[type=button] {
    color: var(--white);
    background: var(--blue);
    border: .1rem solid var(--white);
    border-radius: 1rem;
    font-size: large;
    padding: .7rem;
    font-family: var(--default-font);
    cursor: pointer;
    transition: all .5s;
}

input[type=button]:hover {
    background: var(--white);
    color: var(--blue);
    border: .1rem solid var(--blue);
}

input[type=number] {
    font-family: var(--default-font);

    margin: 0;
    padding: 0;
    width: 100%;
    outline: none;
    border: none;
}


table {
    margin:1em auto;
    font-family: var(--default-font);
}
td {
    height: 30px;
    width: 30px;
    color: var(--variable-element);
    border: 1px solid var(--black);
    text-align: center;
}
td:first-child {
    border-left: solid var(--black);
}
td:nth-child(3n) {
    border-right: solid var(--black);
}
tr:first-child {
    border-top: solid var(--black);
}
tr:nth-child(3n) td {
    border-bottom: solid var(--black);
}
.fixed {
    color: var(--fixed-element);
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--blue);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.invisible {
    display: none;
}
